a.article-link {
  display: block;
  text-decoration: none !important;
  .article-thumb-container {
    width: 100%;
    padding-top: 75%;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  &:hover {
    text-decoration: none !important;
    color: $red;
    p {
      color: $darkblue;
    }

    .article-thumb-container {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $red;
        opacity: 0.4;
        z-index: 5;
      }
    }
  }
}
a.article-link:hover {
  text-decoration: none !important;
}

.two-three-article {
  position: relative;
  padding-bottom: 70px;
  padding-top: 30px;
}

.article-flex {
  display: flex;
  flex-direction: column;
  .two-three-category {
    margin-top: auto;
  }
}

.two-three-category {
  // position: absolute;
  // width: calc(100% - 80px);
  // left: 40px;
  // bottom: 20px;
  border-bottom: 1px solid #01567a;
padding-bottom: 20px;
}
.hover .two-three-category {
  border-bottom: 1px solid $red !important;

}

.statement {
  background-color: $lightblue;
  padding: 30px;
}
.statement-buttons {
  margin-top: 30px;
  .button:first-child {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .button {
    // display: block;
    white-space: nowrap;
    display: inline-block;
    // margin-bottom: 20px;
  }
}
.subscribe-desktop {
  background-color: $lightblue;
  padding: 65px;
 
}

.blog-featured {
  margin-bottom: 100px;
  .wp-post-image {
    margin-bottom: 50px;
  }
}

.post-actions {
  margin-top: 30px;
}

.post-hero {
  .category-text {
    margin-bottom: 30px;
  }
}
.post-hero-row, .post-image-row {
  margin-top: 30px;
  flex-direction: column-reverse;
  .bottom-rule {
    display: none;
  }
}
.caption-section {
  position: relative;
  margin-top: 10px;
}
.bottom-rule {
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}
.top-rule {
  width: calc(100% - 30px);
  position: absolute;
  top: 0;
  margin-top: 0;
}
.post-image-row {
  margin-bottom: 1.5rem;
}

.featured-collection {
  margin-top: 50px;
  img {
    margin-bottom: 50px;
  }
  h4 {
    margin-bottom: 50px;
  }
  .button {
    margin-bottom: 70px;
  }
}

.special-collections {
  margin-bottom: 50px;
  img {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.print-button {
  cursor: pointer;
}

.share-button-container {
  .share-button {
    cursor: pointer;
    .fa-chevron-up {
      display: none;
    }
  }
  .wp-share-button {
    display: none;
  }
  &.show-buttons {
    .share-button {
      .fa-chevron-up {
        display: inline;
      }
      .fa-chevron-down {
        display: none;
      }
    }
    .wp-share-button {
      display: block;
    }
  }
}
.collections-list {
  padding-top: 15px;
  h5 {
    margin-bottom: 30px;
  }
}

.back-link {
  cursor: pointer;
}

.end-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('images/bahai-world-end-character.png');
  background-size: cover;
}

@media (min-width: 768px) {
  .pad-l-65 {
    padding-left: 65px !important;
  }
  .pad-l-40 {
    padding-left: 40px !important;
    border-left: 1px solid $lightblue;
    // border-bottom: 1px solid $lightblue;
  }
  .pad-r-40 {
    padding-right: 40px !important;
  }
  .border-bottom {
    border-bottom: 1px solid $lightblue;
  }
  .caption-section {
    margin-top: 0;
  }
  .post-hero-row, .post-image-row  {
    // margin-top: 0;
    flex-direction: row;
    .bottom-rule {
      display: block;
    }
  }
  .statement {
    padding: 65px;
    .button {
      display: inline-block;
    }
  }
  .statement-buttons {
    .button:first-child {
      margin-bottom: 0;
    }
  }
  
  .two-three-section {
    > .row {
      border-bottom: 1px solid #d3dfed;
      &:first-child {
        .two-three-article {
          padding-top: 0;
        }
      }
    }
  }
  .two-three-article {
    border-right: 1px solid #d3dfed;
    &:last-child {
      border-right: none;
    }
  }
  .related {
    .two-three-article {
      padding-top: 0;
    }
  }
  .collections-list {
    border-bottom: 1px solid #d3dfed;
    padding-top: 15px;
    border-top: 1px solid #d3dfed;
    .row.pad-40 {
      border-bottom: 1px solid #d3dfed;
    }
  }
  .collection-item {
    border-right: 1px solid #d3dfed;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
} // min-width 768




@media (min-width: 992px) {
  .blog-featured {
    .wp-post-image {
      margin-bottom: 0;
    }
  }
}







