.screen-reader-text {
  display: none;
}

.container,
.container-fluid {
  max-width: 1120px;
}

body {
  background: $lightgray;
  color: $darkblue;
}

section {
  margin-bottom: 50px;
}
.site-main {
  // margin-bottom: 50px;
  margin: 50px 0;
}
.no-top-margin {
  margin-top: 0 !important;
}

a {
  color: $darkgray;
  &:visited {
    color: $darkgray;
  }
  &:hover,
  &:active {
    color: $red;
  }
}
.page {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}

.button {
  padding: 10px 15px;
  box-shadow: 0 2px 5px 0 rgba(68, 68, 68, 0.5);
  border-radius: none;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.25rem;
  color: $lightgray;
  text-transform: uppercase;
  font-size: 0.87rem;
  font-family: ff-scala-sans-pro, sans-serif;
  &:hover {
    text-decoration: none;
    box-shadow: none;
  }
  &.primary {
    background-color: $blue;
    &:visited {
      color: $lightgray;
    }
    &:hover {
      background-color: $red;
      color: $lightgray;
    }
  }
  &.secondary {
    background-color: $lightgray;
    color: $teal;
    &:visited {
      color: $teal;
    }
    &:hover {
      background-color: $blue;
      color: $lightgray;
    }
  }
  &.reverse {
    background-color: $lightgray;
    color: $teal;
    &:hover {
      background-color: $red;
      color: $lightgray;
    }
  }
}

.red-hover {
  position: relative;
  display: block;
  margin-bottom: 30px;
  &:hover {
    &:before {
      content: '<div></div>';
      position: absolute;
      width: 100%;
      height: 100%;

      top: 0;
      left: 0;
      z-index: 5;
      background-color: $red;
      opacity: 0.4;
    }
  }
}
.post-item {
  margin-bottom: 30px;
}
.overlay {
  background: rgba(45,112,133,0.75);
  font-family: Helvetica;
  font-size: 16px;
  color: #FBFCFC;
  letter-spacing: 1px;
  line-height: 24px;
  position: absolute;
  width: 100%;
  text-align: left;
  padding: .5rem;
  
}




.bottom-align {
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  flex-grow: 1;
  >*:last-child {
    width: 100%;
    align-self: flex-end;
    flex-grow: 0;
    margin-top: auto;
  }
}
.italic {
  font-style: italic;
}

.page-header {
  background-color: $lightblue;
  padding: 80px 0;
}
.entry-content.pull {
  margin-top: -80px;
  background-color: $lightgray;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .row.pad-40 {
    margin-right: 0;
    margin-left: 0;
    
    .col-xl,
    .col-xl-auto,
    .col-xl-12,
    .col-xl-11,
    .col-xl-10,
    .col-xl-9,
    .col-xl-8,
    .col-xl-7,
    .col-xl-6,
    .col-xl-5,
    .col-xl-4,
    .col-xl-3,
    .col-xl-2,
    .col-xl-1,
    .col-lg,
    .col-lg-auto,
    .col-lg-12,
    .col-lg-11,
    .col-lg-10,
    .col-lg-9,
    .col-lg-8,
    .col-lg-7,
    .col-lg-6,
    .col-lg-5,
    .col-lg-4,
    .col-lg-3,
    .col-lg-2,
    .col-lg-1,
    .col-md,
    .col-md-auto,
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1,
    .col-sm,
    .col-sm-auto,
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1,
    .col,
    .col-auto,
    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
      padding-right: 40px;
      padding-left: 40px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}


@media (min-width: 992px) {
  .button {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }


}

