.home {
 
  .site-header {
    position: absolute;
  opacity: 0.8;
  }
  .site-main {
    margin-top: 0;
  }
}

#mobile-nav {
  background-color: $teal;
  opacity: 1;
  color: $lightgray;
  ul {
    padding-left: 0;
    margin-left: 0;
  }
}

.site-header {
  position: relative;
  z-index: 3;
  background: $teal;
  opacity: 1;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 40px;
  // margin-bottom: 50px;
  margin-bottom: 0;
  height: 50px;
  li {
    text-transform: uppercase;
    font-family: ff-scala-sans-pro, sans-serif;
    list-style: none;
  }
  a {
    color: $lightgray;
  }
}
.custom-logo-link {
  background-image: url('images/bahai-world-logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 60px;
}
.iframe {
  background-color: #fff;
  width: 100%;
  height: calc(100vh - 200px);
  // min-height: 500px;
  opacity: 1;
  display: none;
}

#primary-menu {
  flex-direction: column;
  // height: 40px;
  justify-content: space-evenly;
  color: $lightgray;
  margin-left: 50px;
  li {
    text-transform: uppercase;
    font-family: ff-scala-sans-pro, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
  }
  a {
    color: $lightgray;
    &:hover {
      text-decoration: underline;
    }
  }
  .current-menu-item {
    text-decoration: underline;
  }
}
.secondary-nav {
  border-left: 1px solid $lightgray;
  padding-left: 20px;
  margin-left: 40px;
  font-size: 0.875rem;
  margin-top: 20px;
  height: 100px;
  i {
    padding-left: 10px;
    // display: block;
  }
  li {
    color: $lightgray;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.main-navigation {
  width: auto;
  display: inline-block;
}

#primary-menu {
  margin-top: 20px;
  li {
    margin-bottom: 11px;
  }
}
.mobile-menu-button {
  color: $lightgray;
  font-size: 30px;
  cursor: pointer;
  .fa-times {
    display: none;
  }
}
#mobileNav {
  display: none;
  background: $teal;
  color: $lightgray;
  z-index: 10;
  position: relative;
  top: -10px;
  ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .search-form {
    margin: 30px 0;
    label {
      width: 100%;
    }
    input[type="submit"] {
      display: none;
    }
    input[type="search"] {
      width: 100%;
      height: 40px;
    }
  }

}

@media (max-width: 991px) {
  .site-header {
    .navbar {
      position: absolute;
      right: 0;
    }
  }
  .menu-open {
    &.site-header {
      opacity: 1;
      background-color: $lightgray !important;
    }
    .mobile-menu-button {
      color: $teal;
      .fa-bars {
        display: none;
      }
      .fa-times {
        display: inline-block !important;
      }
    }
    #mobileNav {
      display: block;
    }
  }
  .home .site-header {
    margin-bottom: 0;
    &.menu-open {
      opacity: 1;
      background-color: $lightgray;

    }
  }
  .secondary-nav-mobile {
    font-size: 0.875rem;
    color: $lightgray;
  }
}
@media (max-width: 991px) {
  .iframe {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .site-header {
    height: 140px;
  }
  .custom-logo-link {
    height: 140px;
    width: 170px;
  }
  .mobile-menu-button {
    display: none !important;
  }
  #mobileNav {
    display: none !important;
  }
}

// width="170px" height="138px"
// font-family: Helvetica;
// font-size: 18px;
// color: #FBFCFC;
// letter-spacing: 1.5px;
// line-height: 24px;

// font-family: Helvetica;
// font-size: 14px;
// color: #FBFCFC;
// letter-spacing: 1.17px;
// line-height: 24px;