body,
p {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  &.author {
    font-family: ff-scala-sans-pro, sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.88px;
    color: $teal;
    text-transform: uppercase;
  }
  &.category {
    font-family: ff-scala-sans-pro, sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.88px;
    color: $darkgray;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
.wp-pagenavi {
  font-family: ff-scala-sans-pro, sans-serif;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  color: $teal;
  text-transform: uppercase;
  margin-bottom: 30px;
  a {
    display: inline-block;
    padding-left: 15px;
    color: $teal;
  }
  .current {
    padding-left: 15px;
    display: inline-block;
    font-weight: 700;
    color: $darkgray;
  }
  .fas {
    font-size: .8rem;
  }
}
h1,
.h1 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-size: 2.875rem;
  line-height: 3.187rem;
}
h2,
.h2 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.875rem;
}
h3,
.h3 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  &.blue {
    color: $blue;
  }
}
h4,
.h4 {
  font-family: adobe-caslon-pro, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 2rem;
  color: $darkgray;
}
h5,
.h5 {
  font-family: ff-scala-sans-pro, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 1.38px;
  text-transform: uppercase;
  color: $darkblue;
}
h6,
.h6 {
  font-family: ff-scala-sans-pro, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
label {
  font-family: ff-scala-sans-pro, sans-serif;
  font-size: 0.875rem;
  color: $darkblue;
  letter-spacing: 1px;
  text-transform: uppercase;
}
blockquote {
  font-family: ff-scala-sans-pro, sans-serif;
  font-size: 1.125rem;
  color: $darkgray;
  line-height: 1.625rem;
  padding-left: 20px;
  border-left: 2px solid $blue;
  p {
    font-family: ff-scala-sans-pro, sans-serif;
    font-size: 1.125rem;
    color: $darkgray;
    line-height: 1.625rem;
    padding-left: 20px;
  }
}
figcaption {
  font-family: ff-scala-sans-pro, sans-serif;
  font-size: 0.875rem;
  color: $darkgray;
  line-height: 1.125rem;
  padding-top: 10px;
  
}
input[type='text'] {
  font-family: ff-scala-sans-pro, sans-serif;
  font-size: 0.875rem;
  color: $blue;
  line-height: 1.125rem;
}
.first-text {
  p:first-child {
    &:first-letter {
      float: left;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }
  }
}
@media (min-width: 992px) {
  body,
  p {
    font-size: 1.25rem;
    line-height: 1.625rem;
    &.author {
      font-size: 1rem;
      line-height: 1.25rem;
      letter-spacing: 1px;
    }
    &.category {
      font-size: 1rem;
      line-height: 1.25rem;
      letter-spacing: 1px;
    }
  }
  h1,
  .h1 {
    font-size: 4rem;
    line-height: 4.375rem;
  }
  .hero-text-area {
    h1, .h1 {
    font-size: 2.875rem;
    line-height: 3.187rem;
    }
  }
  h2,
  .h2 {
    font-size: 3.25rem;
    line-height: 3.75rem;
  }
  h3,
  .h3 {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
  h4,
  .h4 {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
  h5,
  .h5 {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
  h6,
  .h6 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  blockquote {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  figcaption {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  input[type='text'], input[type='email'] {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: adobe-caslon-pro, serif;
  }
}
@media (min-width: 1050px) {
  .hero-text-area {
    h1, .h1 {
      font-size: 4rem;
      line-height: 4.375rem;
    }
  }
}
